<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>
    <targets>
        <target xsi:type="ElasticSearch" name="elastic" uri="http://host.docker.internal:9200" index="myapp" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile,elastic" />
    </rules>
</nlog>